@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.transition-height {
  transition: height 0.4s ease;
}

.animation-glow {
  animation: glow 1.5s infinite;
}

@keyframes glow {
  0% {
    background: rgba(160, 150, 230, 1);
  }
  50% {
    background: rgb(124, 115, 230, 1);
  }
  100% {
    background: rgba(160, 150, 230, 1);
  }
}

.dot {
  animation: jump 1s infinite;
}

.dot-1 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.dot-2 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.dot-3 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 4px;
  }
  40% {
    bottom: 0px;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}

.slide-in {
  animation: slideIn 0.2s normal forwards;
}

.slide-out {
  animation: slideOut 0.2s normal forwards ease-in;
}

@keyframes growHeight {
  0% {
    min-height: 0px;
  }
  100% {
    min-height: 30px;
  }
}

@keyframes shrinkHeight {
  0% {
    min-height: 30px;
  }
  100% {
    min-height: 0px;
  }
}

.slow-grow {
  animation: growHeight 0.2s normal forwards linear;
}

.slow-shrink {
  animation: shrinkHeight 0.2s normal forwards linear;
}

.pulse-animation {
  animation: pulse 0.2s normal linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes progress-bar-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-progress-bar {
  animation: progress-bar-width 1s;
}
